<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Ticket #{{ticket.uid}}</title>
  <style>
  div {font-family: Helvetica,sans-serif;}
    hr { display: block; height: 1px; border: 0; border-top: 1px solid #eee; margin: 1em 0; padding: 0; }
  </style>
</head>
<body>
  <table style="width: 100%;">
    <tr>
      <td style="border-color: #eee; border-style: solid; border-width: 2px; padding: 0px;">
        <table style="background-color: #eee; height: 75px; width: 100%;">
          <tr>
            <td style="padding-bottom: 4px; text-align: center;">
              <img height="35" src="https://raw.githubusercontent.com/ausmez/trudesk/master/public/img/defaultLogoDark.png" />
            </td>
          </tr>
        </table>
        <table style="width: 100%;">
          <tr>
            <td style="text-align: center;">
              <div style="color: #676767; font-size: 22px; font-weight: 600; padding: 10px;">Ticket #{{ticket.uid}}</div>
              <div style="color: #676767; font-size: 13px; padding: 2px 0px;">
                {{#each ticket.comments}}
                {{#if @last}}
                  Comment added by <b>{{owner.fullname}}</b>
                {{/if}}
                {{/each}}
              </div>
            </td>
          </tr>
        </table>
    <hr align="center" width="90%" />
        <table style="padding: 5px; width: 100%;">
          <tr>
            <td>
              <div style="color: #676767; font-size: 13px;">
                {{ticket.priority.name}} | {{ticket.type.name}} | {{ticket.fStatus}}
              </div>
            </td>
          </tr>
        </table>
        <table style="padding: 5px; width: 100%;">
          <tr>
            <td style="width: 65px; vertical-align: top;">
              <div style="padding-top: 5px;"><img style="border-radius: 25px; height: 50px; width: 50px;" src="https://raw.githubusercontent.com/ausmez/trudesk/master/public/img/defaultProfile.jpg"></div>
            </td>
            <td>
              <div style="color: #676767; font-size: 18px; font-weight: 600; padding: 5px 10px 5px 0px;">RE: {{ticket.subject}}</div>
              {{#each ticket.comments}}
              {{#if @last}}
              <div style="padding-bottom: 3px;"><a href="mailto:{{owner.email}}" style="color: #e74c3c; font-size: 13px;">{{owner.fullname}} &lt;{{owner.email}}&gt;</a></div>
              {{/if}}
              {{/each}}
              <div style="color: #676767; font-size: 13px; height: 30px;">{{comment.fDate}}</div>
              <div style="color: #676767; font-size: 14px; text-align: left;">{{{comment.comment}}}</div>
            </td>
          </tr>
        </table>
        <table style="height: 50px; margin: 0px auto 10px auto; padding: 5px; width: 100%;">
          <tr>
            <td style="margin: 0px; padding: 20px 0px 0px 0px; text-align: center; vertical-align: top;">
              <div style="color: #676767; font-size: 13px; padding: 10px;">
          Sign in to the DES network and open your browser to {{base_url}} to view the ticket.
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>